HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### DIY Accounting Web ###
**/*.class
**/.checkstyle
**/.DS_Store
**/.project
**/.settings
**/bin
**/crm.sql
**/crm-json-latest.zip
**/crm-latest.zip
**/ct-md-latest.zip
**/dependency-reduced-pom.xml
**/docker-compose-mysql
**/release.properties
**/server.test.pem
**/server.test.pem.crt
**/server.test.pem.key
**/target
**/venv
**/*versionsBackup
**/*releaseBackup
**/test.txt
**/github-antonycc-keys.sh
